<div class="mt-4">
    <form method="POST" action="/get_search">
        <div class="form-group">
            <label for="search-input">Input</label>
            <input type="text" name="name" class="form-control" id="search-input" placeholder="Find watch...">
        </div>

        <button type="submit" class="btn btn-primary">Find</button>
    </form>
</div>